<body class="container">
  <!--POST HEADER-->
  <div id="wrapper">
    <div class="container"></div>

    <section id="hero">
      <h1 class="hero-title">
        A Michelin-Star Bakery Experience in the West Village
      </h1>
    </section>

    <section id="my-story">
      <div class="video-container">
        <img
          id="looping-video"
          src="../../assets/images/view-luxurious-hotel-interior-space.jpg"
      
        />
      </div>
    
      <div class="my-story-img">
        <img
          id="my-story-img-1"
         src="../../assets/images/3d-rendering-white-wood-living-room-near-bedroom-upstair.jpg"
        />

        <img
          id="my-story-img-2"
        src="../../assets/images/view-building-construction.jpg"
        />

        <img
          id="my-story-img-3"
        src="../../assets/images/3d-rendering-white-wood-living-room-near-bedroom-upstair.jpg"
        />

        <img
          id="my-story-img-4"
        src="../../assets/images/view-luxurious-hotel-interior-space.jpg"
        />
      </div>
    </section>

    <div id="container">
      <!-- About Section -->
      <section id="about">
        <h1 class="host-h">Experience hosted by Crunch Bakery</h1>
        <p class="host-p">3 hours | Hosted in English</p>
        <hr class="solid about-divider" />
        <div class="grid">
          <div class="icon">
            <img
              id="image-1"
              srcset="
                https://images.pexels.com/photos/3296280/pexels-photo-3296280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 1x,
                https://images.pexels.com/photos/3296280/pexels-photo-3296280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 2x
              "
              alt="Icon 1"
            />
          </div>
          <div class="description">
            <h2 class="about-desc-header">Culinary Immersion</h2>
            <p class="about-desc-text">
              Nestled in the heart of artsy enclave is a culinary scene that
              celebrates creativity and compassion.
            </p>
          </div>
        </div>

        <div class="grid">
          <div class="icon">
            <img
              id="image-2"
              srcset="
                https://images.pexels.com/photos/4457125/pexels-photo-4457125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 1x,
                https://images.pexels.com/photos/4457125/pexels-photo-4457125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 2x
              "
              alt="Icon 2"
            />
          </div>
          <div class="description">
            <h2 class="about-desc-header">The Only Michelin Star Bakery</h2>
            <p class="about-desc-text">
              Learn the secrets behing the door of world's only Michelin Star
              bakery, located in the heart of West Village.
            </p>
          </div>
        </div>

        <div class="grid">
          <div class="icon">
            <img
              id="image-3"
              srcset="
                https://images.pexels.com/photos/4253308/pexels-photo-4253308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 1x,
                https://images.pexels.com/photos/4253308/pexels-photo-4253308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 2x
              "
              alt="Icon 3"
            />
          </div>
          <div class="description">
            <h2 class="about-desc-header">Watch all-stars perform</h2>
            <p class="about-desc-text">
              Take a peak behind the scenes and watch our top pastry chefs do
              the magic.
            </p>
          </div>
        </div>

        <hr class="solid about-divider" />
      </section>

      <!-- Form Section -->
      <div class="form">
        <form id="form" method="post" action="">
          <h2 class="host-h">Inquire About this Property</h2>

          <label for="email"></label>
          <input
            class="form-control"
            id="email"
            type="email"
            placeholder="your.email@bake.com"
            required
          />
          <label for="Phone"></label>
          <input
            class="form-control mb-5"
            id="Phone"
            type="tel"
            placeholder="(123) 456-7890"
            required
          />

          <button class="sign-up-button" type="submit">Send Message</button>
        </form>
      </div>

      <section>
        <h1 class="host-h">What you'll do</h1>
        <p class="description-text">
          Discover a world of exquisite pastries and artisan bread in the heart
          of West Village, NYC. Immerse yourself in a culinary adventure that
          celebrates creativity, compassion, and the art of baking. Join us for
          a guided tour through this vibrant neighborhood, where you'll savor
          delectable treats crafted to perfection. From flaky croissants to
          decadent desserts, our Michelin-starred bakery offers a sensory
          experience that will delight your taste buds and nourish your soul.
        </p>
      </section>

      <!--pricing section-->
    </div>
    <!--right page margin-->

    <!--FOOTER-->
  </div>
</body>
