
<p-toast position="bottom-right"></p-toast>
<div class="py-2">
  <div class="row col">
    <div class="col-md-11 col-sm-8">
      <h3 class="title-one"><i class="fa fa-user"></i> User Registration</h3>
    </div>
    <div class="col-md-1 col-sm-4 text-end">
      <a
        class="btn btn-primary"
        (click)="open()"
        pTooltip="Add New user"
        tooltipPosition="left"
        style="font-size: 0.8rem"
        ><i class="sidenav-link-icon pi pi-plus"></i
      ></a>
    </div>
  </div>
</div>
<div class=" user_registration mb-3">
    <mat-card>
        <mat-card-content>
  <p-table
    #dt2
    [value]="userManager"
    [(selection)]="userManager"
    selectionMode="multiple"
    dataKey="filter"
    (onLazyLoad)="loadData($event)"
    styleClass="p-datatable-customers"
    responsiveLayout="scroll"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'userName',
      'firstName',
      'lastName',
      'email',
      'mobileNumber',
    
    ]"
  >
    <!-- multiple -->
    <ng-template pTemplate="caption">
      <div class="d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <!-- <i class="pi pi-search"></i> -->
          <!-- <input class="form-control-search" pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Search" /> -->
          <input
            type=""
            class="form-control form-control-search mr-auto"
            pInputText
            type="text"
           
            placeholder="Search"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Sr No.</th>
        <th pSortableColumn="userName">
          User Name
          <p-sortIcon field="userName"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">
          First Name
          <p-sortIcon field="firstName"> </p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last Name
          <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="mobileNumber" class="column-center">
          Mobile No
          <p-sortIcon field="mobileNumber"></p-sortIcon>
        </th>
      
        <th class="column-center">Action</th>
      </tr>
      <tr></tr>
    </ng-template>
    <ng-template pTemplate="body" let-filter let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td class="column-left">
          <span class="p-column-title">userName</span> {{ filter.userName }}
        </td>
        <td class="column-left">
          <span class="p-column-title">firstName</span>
          <span class="image-text">{{ filter.firstName }}</span>
        </td>
        <td class="column-left">
          <span class="p-column-title">lastName</span>
          <span class="image-text">{{ filter.lastName }}</span>
        </td>
        <td class="column-left">
          <span class="p-column-title">email</span>
          <span>{{ filter.email }}</span>
        </td>
        <td class="column-center">
          <span class="p-column-title">mobileNumber</span>
          <span class="image-text">{{ filter.mobileNumber }}</span>
        </td>
     
        <td class="text-primary column-center" title="Edit" pTooltip="Edit">
          <i
            class="editIcon fa fa-key"
            style="cursor: pointer"
            (click)="openChangePassword(filter)"
          ></i
          >&nbsp;
          <i
            class="editIcon fa fa-edit"
            style="cursor: pointer"
            (click)="editUser(filter)"
          ></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="40">No Data found.</td>
      </tr>
    </ng-template>
  </p-table>
        </mat-card-content></mat-card>  
</div>

<p-dialog
  header="Add User"
  [(visible)]="display"
   [style]="{ width: '40rem' }"
  [draggable]="false"
  [keepInViewport]="true"
  [modal]="true"
  styleClass="dialogBox"
>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-12">
        <form
          autocomplete="off"
          [formGroup]="form"
          autocomplete="off"
          (keydown)="keyDownFunction($event, true)"
        >
          <div class="form-group">
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="firstName">First Name<sup>*</sup></label>
                <input
                  type="text"
                  tabindex="0"
                  class="form-control"
                  placeholder=""
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid': submitted && f['firstName'].errors
                  }"
                  value=""
                  [(ngModel)]="userRegistration.firstName"
                  maxlength="20"
                
                />
                <div
                  *ngIf="submitted && f['firstName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['firstName'].errors['required']">
                    <small> *First Name is required</small>
                  </div>
                  <div *ngIf="f['firstName'].errors['minlength']">
                    <small> *First Name must be at least 3 characters </small>
                  </div>
                  <!-- <div *ngIf="f['firstName'].errors['maxlength']">
                                        <small> *First name must not exceed 20 characters </small>
                                    </div> -->
                  <!-- <div *ngIf="f['firstName'].errors['pattern']">
                                        <small> <sup>*</sup>First name should contain only a-z,A-Z.</small>
                                    </div> -->
                </div>
              </div>
              <div class="col-sm-6">
                <label for="lastName">Last Name<sup>*</sup></label>
                <br />
                <input
                  type="text"
                  tabindex="1"
                  class="form-control"
                  placeholder=""
                  value=" "
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid': submitted && f['lastName'].errors
                  }"
                  [(ngModel)]="userRegistration.lastName"
                  maxlength="20"
                  
                />
                <div
                  *ngIf="submitted && f['lastName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['lastName'].errors['required']">
                    <small> *Last Name is required</small>
                  </div>
                  <div *ngIf="f['lastName'].errors['minlength']">
                    <small> *Last Name must be at least 3 characters</small>
                  </div>
                  <!-- <div *ngIf="f['lastName'].errors['maxlength']">
                                        <small>*Last name must not exceed 20 characters</small>
                                    </div>
                                    <div *ngIf="f['lastName'].errors['pattern']">
                                        <small> <sup>*</sup>Last name should contain only a-z,A-Z</small>
                                    </div> -->
                </div>
              </div>
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="userName">User Name<sup>*</sup></label>
                <br />
                <input
                  type="text"
                  tabindex="2"
                  formControlName="userName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['userName'].errors
                  }"
                  value=""
                  [(ngModel)]="userRegistration.userName"
                  maxlength="20"
                />
                <div
                  *ngIf="submitted && f['userName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['userName'].errors['required']">
                    <small>*User Name is required</small>
                  </div>
                  <div *ngIf="f['userName'].errors['minlength']">
                    <small> *User Name must be at least 5 characters</small>
                  </div>
                  <!-- <div *ngIf="f['userName'].errors['maxlength']">
                                        <small> *User Name must not exceed 20 characters</small>
                                    </div> -->
                  <div
                    *ngIf="
                      f['userName'].errors['pattern'] &&
                      !f['userName'].errors['minlength']
                    "
                  >
                    <small>
                      *User Name must start with A-Z, a-z and contain A-Z, a-z,
                      0-9, _ characters</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="email">Email<sup>*</sup></label>
                <br />
                <input
                  type="text"
                  tabindex="3"
                  formControlName="email"
                  autocomplete="off"
                  autocomplete="off"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                  value=""
                  maxlength="30"
                  [(ngModel)]="userRegistration.email"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors['required']">
                    <small>*Email is required</small>
                  </div>
                  <!-- <div *ngIf="f['email'].errors['minlength']">
                                        <small> *Email must be at least 5 characters</small>
                                    </div> -->
                  <!-- <div *ngIf="f['email'].errors['maxlength']">
                                        <small> *Email must not exceed 20 characters</small>
                                    </div> -->
                  <div *ngIf="f['email'].errors['pattern']">
                    <small>*Email address is invalid</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="password">Password<sup>*</sup></label>
                <br />
                <input
                  type="password"
                  tabindex="4"
                  formControlName="password"
                  autocomplete="new-password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['password'].errors
                  }"
                  value=""
                  [(ngModel)]="userRegistration.password"
                  maxlength="15"
                />
                <div
                  *ngIf="submitted && f['password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['password'].errors['required']">
                    <small>*Password is required</small>
                  </div>
                  <div *ngIf="f['password'].errors['minlength']">
                    <small>*Password must be at least 5 characters</small>
                  </div>
                  <!-- <div *ngIf="f['password'].errors['maxlength']">
                                        <small> *Password must not exceed 15 characters</small>
                                    </div> -->
                  <div
                    *ngIf="
                      f['password'].errors['pattern'] &&
                      !f['password'].errors['minlength']
                    "
                  >
                    <small>
                      <sup>*</sup>Password must contain the following: upper
                      case (A-Z), lower case (a-z), number (0-9) and special
                      character (e.g. !@#$%^&*)</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="confrmPass">Confirm Password<sup>*</sup></label>
                <br />
                <input
                  type="password"
                  tabindex="5"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['confirmPassword'].errors
                  }"
                  value=""
                  [(ngModel)]="userRegistration.confirmPassword"
                  maxlength="15"
                />
                <div
                  *ngIf="submitted && f['confirmPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['confirmPassword'].errors['required']">
                    <small>*Confirm Password is required</small>
                  </div>
                  <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                    <small>*Passwords must match.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="mobileNumber">Mobile Number</label>
                <br />
                <input
                  type="text"
                  tabindex="6"
                  formControlName="mobileNumber"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['mobileNumber'].errors
                  }"
                  value=""
                  [(ngModel)]="userRegistration.mobileNumber"
                  minlength="10"
                  maxlength="10"
                
                />
                <div
                  *ngIf="submitted && f['mobileNumber'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['mobileNumber'].errors['required']">
                    <small>*Mobile Number is required</small>
                  </div>
                  <div *ngIf="f['mobileNumber'].errors['minlength']">
                    <small>*Mobile Number must be at least 10 characters</small>
                  </div>
                  <!-- <div *ngIf="f['mobileNumber'].errors['maxlength']">
                                        <small> *Mobile Number must not exceed 11 characters</small>
                                    </div> -->
                  <!-- <div *ngIf="f['mobileNumber'].errors['pattern']">
                                        <small> <sup>*</sup>Mobile No should contain 0-9 </small>
                                    </div> -->
                </div>
              </div>
           
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container model-footer">
    <button tabindex="8" class="btn btn-primary m-2" >
      Submit
    </button>
    <button tabindex="9" class="btn btn-danger m-2" (click)="onReset()">
      Reset
    </button>
    <button
      tabindex="10"
      class="btn btn-secondary m-2"
      (click)="display = false"
    >
      Close
    </button>
  </div>
</p-dialog>

<p-dialog
  header="Edit User Registration"
  [(visible)]="display1"
  [draggable]="false"
  [keepInViewport]="true"
  [modal]="true"
  styleClass="dialogBox"
>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-12">
        <form
          autocomplete="off"
          [formGroup]="editUserForm"
          (keydown)="keyDownFunction($event, false)"
        >
          <div class="form-group">
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  tabindex="0"
                  maxlength="13"
                  class="form-control form-edit"
                  id="firstName"
                  name="firstName"
                  placeholder=" "
                  [(ngModel)]="user.firstName"
                  autocomplete=""
                  formControlName="firstName"
                  maxlength="20"
                 
                  [ngClass]="{
                    'is-invalid':
                      editUserFormSubmitted && f1['firstName'].errors
                  }"
                />
                <div
                  *ngIf="editUserFormSubmitted && f1['firstName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['firstName'].errors['required']">
                    *First Name is required
                  </div>
                  <div *ngIf="f1['firstName'].errors['minlength']">
                    *First Name must be at least 3 characters
                  </div>
                  <!-- <div *ngIf="f1['firstName'].errors['maxlength']">
                                        *First name must not exceed 12 characters
                                    </div>
                                    <div *ngIf="f1['firstName'].errors['pattern']">
                                        <sup>*</sup>First name should contain only a-z,A-Z.
                                    </div> -->
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  tabindex="1"
                  maxlength="13"
                  class="form-control form-edit"
                  id="lastName"
                  name="lastName"
                  placeholder=" "
                  [(ngModel)]="user.lastName"
                  autocomplete=""
                  formControlName="lastName"
                  maxlength="20"
              
                  [ngClass]="{
                    'is-invalid': editUserFormSubmitted && f1['lastName'].errors
                  }"
                />
                <div
                  *ngIf="editUserFormSubmitted && f1['lastName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['lastName'].errors['required']">
                    *Last Name is required
                  </div>
                  <div *ngIf="f1['lastName'].errors['minlength']">
                    *Last Name must be at least 3 characters
                  </div>
                  <!-- <div *ngIf="f1['lastName'].errors['maxlength']">
                                        *Last name must not exceed 12 characters
                                    </div>
                                    <div *ngIf="f1['lastName'].errors['pattern']">
                                        <sup>*</sup>Last name should contain only a-z,A-Z.
                                    </div> -->
                </div>
              </div>
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-6">
                <label for="email">Email Address</label>
                <input
                  type="text"
                  tabindex="2"
                  class="form-control form-edit"
                  id="Email"
                  name="Email"
                  placeholder=" "
                  [(ngModel)]="user.email"
                  autocomplete=""
                  formControlName="email"
                  maxlength="30"
                  [ngClass]="{
                    'is-invalid': editUserFormSubmitted && f1['email'].errors
                  }"
                />
                <div
                  *ngIf="editUserFormSubmitted && f1['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['email'].errors['required']">
                    *Email is required
                  </div>
                  <!-- <div *ngIf="f1['email'].errors['minlength']">
                                        *Email must be at least 5 characters
                                    </div>
                                    <div *ngIf="f1['email'].errors['maxlength']">
                                        *Email must not exceed 20 characters
                                    </div> -->
                  <div *ngIf="f1['email'].errors['email']">
                    <small class="text-danger">Email address is invalid</small>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="mobileNumber">Mobile Number </label>
                <br />
                <input
                  type="text"
                  tabindex="3"
                  formControlName="mobileNumber"
                  class="form-control"
                  name="mobileNumber"
                  id="mobileNumber"
                  [ngClass]="{
                    'is-invalid':
                      editUserFormSubmitted && f1['mobileNumber'].errors
                  }"
                  value=""
                  [(ngModel)]="user.mobileNumber"
                  minlength="10"
                  maxlength="10"
               
                />
                <div
                  *ngIf="editUserFormSubmitted && f1['mobileNumber'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['mobileNumber'].errors['required']">
                    <small>*Mobile Number is required</small>
                  </div>
                  <div *ngIf="f1['mobileNumber'].errors['minlength']">
                    <small>*Mobile Number must be at least 10 characters</small>
                  </div>
                  <!-- <div *ngIf="f1['mobileNumber'].errors['maxlength']">
                                        <small> *Mobile Number must not exceed 11 characters</small>
                                    </div>
                                    <div *ngIf="f1['mobileNumber'].errors['pattern']">
                                        <small> <sup>*</sup>Mobile No should contain 0-9 </small>
                                    </div> -->
                </div>
              </div>
              <div class="col-sm-6">
                <label for="userName">User Name </label>
                <br />
                <input
                  type="text"
                  tabindex="4"
                  formControlName="userName"
                  class="form-control"
                  value=""
                  [(ngModel)]="user.userName"
                  readonly
                />
              </div>
           
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container model-footer">
    <button tabindex="8" class="btn btn-primary m-2" >
      Save
    </button>
    <button
      tabindex="9"
      class="btn btn-secondary m-2"
      (click)="display1 = false"
    >
      Close
    </button>
  </div>
</p-dialog>

<p-dialog
  header="Change Password"
  [(visible)]="display2"
   [style]="{ width: '30vw' }"
  [draggable]="false"
  [keepInViewport]="true"

  [modal]="true"
  styleClass="dialogBox"
>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-12">
        <form
          autocomplete="off"
          [formGroup]="changePasswordForm"
          (keydown)="keyDownFunction($event, false)"
        >
          <div class="form-group">
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                name="id"
                id="id"
                value="{{ model.userName }}"
                formControlName="userName"
                [(ngModel)]="model.userName"
              />
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-12">
                <label for="password">Password<sup>*</sup></label>
                <br />
                <input
                  type="password"
                  formControlName="password"
                  autocomplete="new-password"
                  class="form-control"
                  maxlength="15"
                  [ngClass]="{
                    'is-invalid': submitted && f2['password'].errors
                  }"
                  value=""
                  id="password"
                  name="password"
                  [(ngModel)]="model.password"
                />
                <div
                  *ngIf="submitted && f2['password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f2['password'].errors['required']">
                    <small>*Password is required</small>
                  </div>
                  <div *ngIf="f2['password'].errors['minlength']">
                    <small>*Password must be at least 5 characters</small>
                  </div>
                  <!-- <div *ngIf="f2['password'].errors['maxlength']">
                                        <small> *Password must not exceed 15 characters</small>
                                    </div> -->
                  <div
                    *ngIf="
                      f2['password'].errors['pattern'] &&
                      !f2['password'].errors['minlength']
                    "
                  >
                    <small>
                      <sup>*</sup>Password must contain the following: upper
                      case (A-Z), lower case (a-z), number (0-9) and special
                      character (e.g. !@#$%^&*)</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-0 mt-2">
              <div class="col-sm-12">
                <label for="confirmPassword"
                  >Confirm Password<sup>*</sup></label
                >
                <br />
                <input
                  type="password"
                  formControlName="confirmPassword"
                  autocomplete="new-password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f2['confirmPassword'].errors
                  }"
                  value=""
                  id="confirmPassword"
                  name="confirmPassword"
                  maxlength="15"
                  [(ngModel)]="model.confirmPassword"
                />
                <div
                  *ngIf="submitted && f2['confirmPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f2['confirmPassword'].errors['required']">
                    <small>*Confirm Password is required</small>
                  </div>
                  <!-- <div *ngIf="f2['confirmPassword'].errors['minlength']">
                                        <small>*Confirm Password must be at least 5 characters</small>
                                    </div> -->
                  <!-- <div *ngIf="f2['confirmPassword'].errors['maxlength']">
                                        <small> *Confirm Password must not exceed 15 characters</small>
                                    </div> -->
                  <div
                    *ngIf="
                      f2['confirmPassword'].errors['mustMatch'] &&
                      !f2['confirmPassword'].errors['minlength']
                    "
                  >
                    <small>*Passwords must match.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container model-footer">
    <button
      tabindex="8"
      class="btn btn-primary m-2"
     
    >
      Save
    </button>
    <button
      tabindex="9"
      class="btn btn-secondary m-2"
      (click)="display2 = false"
    >
      Close
    </button>
  </div>
</p-dialog>
