<div class="container">
  <div class="row gutters">
    <!-- Left Profile Panel -->
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User Avatar">
              </div>
              <h5 class="user-name">{{ userData.firstName }} {{ userData.lastName }}</h5>
              <h6 class="user-email">{{ userData.email }}</h6>
            </div>
            <div class="about">
              <h5>About</h5>
              <p>I'm {{ userData.firstName }}. Full Stack Designer. I enjoy creating user-centric, delightful, and human experiences.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Form Panel -->
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-12">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" [(ngModel)]="userData.firstName" name="firstName">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="eMail">Email</label>
                <input type="email" class="form-control" id="eMail" [(ngModel)]="userData.email" name="email">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="userData.mobileNumber" name="phone">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="website">Website URL</label>
                <input type="url" class="form-control" id="website" [(ngModel)]="userData.website" name="website">
              </div>
            </div>
          </div>

          <div class="row gutters">
            <div class="col-12">
              <h6 class="mt-3 mb-2 text-primary">Address</h6>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="Street">Street</label>
                <input type="text" class="form-control" id="Street" [(ngModel)]="userData.street" name="street">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="ciTy">City</label>
                <input type="text" class="form-control" id="ciTy" [(ngModel)]="userData.city" name="city">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="sTate">State</label>
                <input type="text" class="form-control" id="sTate" [(ngModel)]="userData.state" name="state">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="zIp">Zip Code</label>
                <input type="text" class="form-control" id="zIp" [(ngModel)]="userData.zip" name="zip">
              </div>
            </div>
          </div>

          <div class="row gutters">
            <div class="col-12">
              <div class="text-right mt-3">
                <button type="button" class="btn btn-secondary" >Cancel</button>
                <button type="button" class="btn btn-primary ml-1" >Update</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
