<p-toast position="bottom-right"></p-toast>
<section>
  <div class="py-2">
    <h2 class="title-one">
      <i class="fa-solid fa-newspaper mx-2"></i> Project Master
    </h2>
  </div>

  <div class="mb-3">
    <mat-card>
      <mat-card-content>
        <p-table
          #dtPallet
          [value]="projectList"
          selectionMode="multiple"
          styleClass="p-datatable-gridlines p-datatable-striped"
          responsiveLayout="scroll"
          [rows]="10"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['palletCode', 'palletName']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end align-items-center">
              <div class="d-flex">
                <span>
                  <input
                    type="text"
                    class="form-control form-control-search"
                    placeholder="Search"
                    (input)="
                      dtPallet.filterGlobal(
                        $any($event.target).value,
                        'contains'
                      )
                    "
                  />
                </span>
                <a
                  (click)="openProjectDialog()"
                  class="btn btn-primary ml-1"
                  title="Add Pallet"
                >
                  <i class="pi pi-plus"></i>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Sr No.</th>
              <th pSortableColumn="projectName">Project Name</th>
              <th pSortableColumn="builderName">Builder Name</th>
              <th pSortableColumn="budget">Budget</th>
              <th pSortableColumn="completionDate">Planned Completion</th>
              <th pSortableColumn="actualCompletionDate">Actual Completion</th>
              <th pSortableColumn="startDate">Start Date</th>
              <th pSortableColumn="actualStartDate">Actual Start Date</th>
              <th pSortableColumn="completionPercentage">Completion %</th>
              <th pSortableColumn="status">Status</th>
              <th pSortableColumn="reraNumber">RERA No</th>
              <th pSortableColumn="projectAddress">Address</th>
              <th pSortableColumn="latlong">Lat/Long</th>
              <th pSortableColumn="projectDescription">Description</th>
              <th>Profile Image</th>
              <th>Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-project let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ project.projectName }}</td>
              <td>{{ project.builderName }}</td>
              <td>{{ project.budget }}</td>
              <td>{{ project.completionDate | date }}</td>
              <td>{{ project.actualCompletionDate | date }}</td>
              <td>{{ project.startDate | date }}</td>
              <td>{{ project.actualStartDate | date }}</td>
              <td>{{ project.completionPercentage }}%</td>
              <td>{{ project.status }}</td>
              <td>{{ project.reraNumber }}</td>
              <td>{{ project.projectAddress }}</td>
              <td>{{ project.latlong }}</td>
              <td>{{ project.projectDescription }}</td>
              <td>
                <img
                  *ngIf="project.profileImage"
                  [src]="project.profileImage"
                  alt="Profile"
                  width="50"
                  height="50"
                />
              </td>
              <td>
                <i
                  class="fa fa-eye"
                  (click)="editProject(project)"
                  style="cursor: pointer"
                  title="Edit Project"
                ></i>
                <i
                  class="fa fa-edit ml-1"
                  (click)="openMilestoneDialog(project.projectId)"
                  style="cursor: pointer"
                  title="View Project"
                ></i>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Project  found.</td>
              <td>
                <i
                  class="fa fa-edit"
                  style="cursor: pointer"
                  title="Edit Pallet"
                ></i>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Project  found.</td>
            </tr>
          </ng-template>
        </p-table>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<p-dialog
  header="Project Details"
  [(visible)]="displayProjectDialog"
  [modal]="true"
  [style]="{ width: '40vw' }"
>
  <form [formGroup]="projectForm" autocomplete="off">
    <div class="row">
      <!-- Project Name -->
      <div class="col-sm-6 mb-3">
        <label>Project Name<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="projectName"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['projectName'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['projectName'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['projectName'].errors['required']">
            Project Name is required
          </small>
        </div>
      </div>

      <!-- Budget -->
      <div class="col-sm-6 mb-3">
        <label>Budget<sup>*</sup></label>
        <input
          type="number"
          class="form-control"
          formControlName="budget"
          [ngClass]="{
            'is-invalid': submitted && projectForm.controls['budget'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['budget'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['budget'].errors['required']">
            Budget is required
          </small>
        </div>
      </div>

      <!-- Start Date -->
      <div class="col-sm-6 mb-3">
        <label>Start Date<sup>*</sup></label>
        <input
          type="date"
          class="form-control"
          formControlName="startDate"
          [ngClass]="{
            'is-invalid': submitted && projectForm.controls['startDate'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['startDate'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['startDate'].errors['required']">
            Start Date is required
          </small>
        </div>
      </div>

      <!-- Completion Date -->
      <div class="col-sm-6 mb-3">
        <label>Completion Date<sup>*</sup></label>
        <input
          type="date"
          class="form-control"
          formControlName="completionDate"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['completionDate'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['completionDate'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['completionDate'].errors['required']">
            Completion Date is required
          </small>
        </div>
      </div>

      <!-- Status -->
      <div class="col-sm-6 mb-3">
        <label>Status<sup>*</sup></label>
        <select
          class="form-select"
          formControlName="status"
          [ngClass]="{
            'is-invalid': submitted && projectForm.controls['status'].errors
          }"
        >
          <option ngValue="New" [selected]="true">New</option>
          <option ngValue="In Progress">In Progress</option>
          <option ngValue="Completed">Completed</option>
          <option ngValue="Hold">Hold</option>
        </select>
        <div
          *ngIf="submitted && projectForm.controls['status'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['status'].errors['required']">
            Status is required
          </small>
        </div>
      </div>

      <!-- Completion Percentage -->
      <div class="col-sm-6 mb-3">
        <label>Completion %<sup>*</sup></label>
        <input
          type="number"
          class="form-control"
          formControlName="completionPercentage"
          min="0"
          max="100"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['completionPercentage'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['completionPercentage'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="projectForm.controls['completionPercentage'].errors['required']"
          >
            Completion % is required
          </small>
          <small
            *ngIf="projectForm.controls['completionPercentage'].errors['min']"
          >
            Minimum is 0
          </small>
          <small
            *ngIf="projectForm.controls['completionPercentage'].errors['max']"
          >
            Maximum is 100
          </small>
        </div>
      </div>

      <!-- RERA Number -->
      <div class="col-sm-6 mb-3">
        <label>RERA Number<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="reraNumber"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['reraNumber'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['reraNumber'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['reraNumber'].errors['required']">
            RERA Number is required
          </small>
        </div>
      </div>

      <!-- Project Address -->
      <div class="col-sm-6 mb-3">
        <label>Project Address<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="projectAddress"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['projectAddress'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['projectAddress'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="projectForm.controls['projectAddress'].errors['required']"
          >
            Project Address is required
          </small>
        </div>
      </div>

      <!-- Latitude, Longitude -->
      <div class="col-sm-6 mb-3">
        <label>Latitude, Longitude<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="latlong"
          placeholder="lat,long"
          [ngClass]="{
            'is-invalid': submitted && projectForm.controls['latlong'].errors
          }"
        />
        <div
          *ngIf="submitted && projectForm.controls['latlong'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="projectForm.controls['latlong'].errors['required']">
            Latitude and Longitude are required
          </small>
        </div>
      </div>

      <!-- Project Description -->
      <div class="col-sm-6 mb-3">
        <label>Project Description<sup>*</sup></label>
        <textarea
          class="form-control"
          formControlName="projectDescription"
          [ngClass]="{
            'is-invalid':
              submitted && projectForm.controls['projectDescription'].errors
          }"
        ></textarea>
        <div
          *ngIf="submitted && projectForm.controls['projectDescription'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="projectForm.controls['projectDescription'].errors['required']"
          >
            Project Description is required
          </small>
        </div>
      </div>

      <!-- Profile Image URL -->
      <div class="col-sm-6 mb-3">
        <label>Profile Image URL</label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div>
    </div>
  </form>

  <div class="model-footer text-end">
    <button class="btn btn-primary m-2" (click)="saveProject()">Submit</button>
    <button
      class="btn btn-secondary m-2"
      (click)="ResetDialog()"
      *ngIf="ResetVisible"
    >
      Reset
    </button>
    <button class="btn btn-danger m-2" (click)="closeProjectDialog()">
      Close
    </button>
  </div>
</p-dialog>


<p-dialog
  header="Project Milestone Details"
  [(visible)]="showMilestoneDialog"
  [modal]="true"
  [style]="{ width: '40vw' }"
>
  <form
    [formGroup]="milestoneForm"
    autocomplete="off"
    (ngSubmit)="saveMilestone()"
  >
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label>Milestone Name <sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="milestoneName"
          [ngClass]="{
            'is-invalid':
              submitted && milestoneForm.controls['milestoneName'].errors
          }"
        />
        <div
          *ngIf="submitted && milestoneForm.controls['milestoneName'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="milestoneForm.controls['milestoneName'].errors['required']"
            >Milestone Name is required</small
          >
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Milestone Details</label>
        <textarea
          class="form-control"
          formControlName="milestoneDetails"
          rows="3"
        ></textarea>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Budget <sup>*</sup></label>
        <input
          type="number"
          class="form-control"
          formControlName="budget"
          [ngClass]="{
            'is-invalid': submitted && milestoneForm.controls['budget'].errors
          }"
        />
        <div
          *ngIf="submitted && milestoneForm.controls['budget'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="milestoneForm.controls['budget'].errors['required']"
            >Budget is required</small
          >
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Budget Status</label>
        <input
          type="text"
          class="form-control"
          formControlName="budgetStatus"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Status <sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="status"
          [ngClass]="{
            'is-invalid': submitted && milestoneForm.controls['status'].errors
          }"
        />
        <div
          *ngIf="submitted && milestoneForm.controls['status'].errors"
          class="invalid-feedback"
        >
          <small *ngIf="milestoneForm.controls['status'].errors['required']"
            >Status is required</small
          >
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Start Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="plannedStartDate"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Target Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="plannedTargetDate"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Duration (days) <sup>*</sup></label>
        <input
          type="number"
          class="form-control"
          formControlName="plannedDuration"
          [ngClass]="{
            'is-invalid':
              submitted && milestoneForm.controls['plannedDuration'].errors
          }"
        />
        <div
          *ngIf="submitted && milestoneForm.controls['plannedDuration'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="milestoneForm.controls['plannedDuration'].errors['required']"
            >Planned Duration is required</small
          >
        </div>
      </div>

      <!-- You can include projectId hidden field if needed -->
      <input type="hidden" formControlName="projectId" />
    </div>

    <div class="model-footer text-end">
      <button type="submit" class="btn btn-primary m-2">Submit</button>
      <button
        type="button"
        class="btn btn-secondary m-2"
        (click)="resetMilestoneForm()"
        *ngIf="resetVisible"
      >
        Reset
      </button>
      <button
        type="button"
        class="btn btn-danger m-2"
        (click)="closeMilestoneDialog()"
      >
        Close
      </button>
    </div>
  </form>
</p-dialog>
