    <div class="bg-hero"></div>
    <header class="hero">
        <div class="hero__logo">
            <img class="logo fade-in" src="http://placehold.it/350/fff?text=Your+logo" alt="">
        </div>
        <div class="hero__content">
            <h2 class="hero__content__heading fade-in">Site is Under Construction</h2>
            <p class="hero__content__blurb fade-in">See You Back Soon.
                <br>Sorry For inconvenience.</p>
            <p class="hero__content__blurb_1 fade-in"></p>
            <div class="social-icons fade-in">
                <a href="https://www.facebook.com/" alt="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/" alt="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://in.linkedin.com/" alt="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      
    </header>