.diff {
  background-color: #2563eb !important;
}
.diff2 {
  background-color: #16a34a !important;
}
.diff3 {
  background-color: #ea580c !important;
}
.diff4 {
  background-color: #dc2626 !important;
}
.clildDiff {
  color: white;
}
.customBandage {
  background: aliceblue;
  color: #2563eb;
  font-size: 10px;
  border-radius: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}
.mr-3 {
  margin-right: 1rem;
}
.customIcon {
  position: absolute;
  left: 14rem;
  bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}
.img-fluid {
  background-size: cover;
  width: 200px;
  height: 200px;
}
.status{
    display: flex;
    justify-content: space-between;
        background: aliceblue;
    border-radius: 1rem;
}