<p-toast position="bottom-right"></p-toast>
<section>
  <div class="py-2">
    <h2 class="title-one">
      <i class="fa-solid fa-newspaper mx-2"></i> Project Milestone
    </h2>
  </div>

  <div class="mb-3">
    <mat-card>
      <mat-card-content>
        <p-table
          #dtPallet
          [value]="milestoneList"
          selectionMode="multiple"
          styleClass="p-datatable-gridlines p-datatable-striped"
          responsiveLayout="scroll"
          [rows]="10"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['palletCode', 'palletName']"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end align-items-center">
              <div class="d-flex">
                <span>
                  <input
                    type="text"
                    class="form-control form-control-search"
                    placeholder="Search"
                    (input)="
                      dtPallet.filterGlobal(
                        $any($event.target).value,
                        'contains'
                      )
                    "
                  />
                </span>
                <a
                  (click)="openProjectDialog()"
                  class="btn btn-primary ml-1"
                  title="Add Pallet"
                >
                  <i class="pi pi-plus"></i>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Sr No.</th>
              <th pSortableColumn="projectName">Milestone Name</th>
              <th pSortableColumn="builderName">Milestone Details</th>
              <th pSortableColumn="budget">Budget</th>
              <th pSortableColumn="completionDate">Budget Status</th>
              <th pSortableColumn="actualCompletionDate">Project Name</th>
              <th pSortableColumn="startDate">Planned Start Date</th>
              <th pSortableColumn="actualStartDate">Planned Target Date</th>
              <th pSortableColumn="completionPercentage">Planned Duration</th>
              <th pSortableColumn="status">Status</th>

              <th>Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-project let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ project.milestoneName }}</td>
              <td>{{ project.milestoneDetails }}</td>
              <td>{{ project.budget }}</td>
              <td>{{ project.budgetStatus }}</td>
              <td>{{ project.projectName }}</td>
              <td>{{ project.plannedStartDate | date }}</td>
              <td>{{ project.plannedTargetDate | date }}</td>
              <td>{{ project.plannedDuration }}</td>
              <td>{{ project.status }}</td>

              <td>
                <i
                  class="fa fa-edit"
                  (click)="editProject(project)"
                  style="cursor: pointer"
                  title="Edit Project"
                ></i>
               
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Project Milestone found.</td>
              <td>
                <i
                  class="fa fa-edit"
                  style="cursor: pointer"
                  title="Edit Pallet"
                ></i>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No Project Milestone found.</td>
            </tr>
          </ng-template>
        </p-table>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<p-dialog
  header="Milestone Details"
  [(visible)]="displayProjectDialog"
  [modal]="true"
  [style]="{ width: '40vw' }"
>
  <form [formGroup]="milestoneForm" autocomplete="off">
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label>Milestone Name<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          formControlName="milestoneName"
          [ngClass]="{
            'is-invalid':
              submitted && milestoneForm.controls['milestoneName'].errors
          }"
        />
        <div
          *ngIf="submitted && milestoneForm.controls['milestoneName'].errors"
          class="invalid-feedback"
        >
          <small
            *ngIf="milestoneForm.controls['milestoneName'].errors['required']"
          >
            Milestone Name is required
          </small>
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Project Name</label>
        <select class="form-select" formControlName="projectId">
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            --Choose Option--
          </option>
          <option
            *ngFor="let project of projectList"
            [ngValue]="project.projectId"
          >
            {{ project.projectName }}
          </option>
        </select>
        <!-- <input
          type="text"
          class="form-control"
          formControlName="builderName"
        /> -->
      </div>

      <div class="col-sm-6 mb-3">
        <label>Budget</label>
        <input type="number" class="form-control" formControlName="budget" />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Start Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="plannedStartDate"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Target Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="plannedTargetDate"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Planned Duration</label>
        <input
          type="number"
          class="form-control"
          formControlName="plannedDuration"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Milestone Details</label>
        <textarea
          class="form-control"
          formControlName="milestoneDetails"
        ></textarea>
      </div>

      <div class="col-sm-6 mb-3">
        <label>Budget Status</label>
        <input
          type="text"
          class="form-control"
          formControlName="budgetStatus"
          min="0"
          max="100"
        />
      </div>

      <div class="col-sm-6 mb-3">
        <label>Status</label>
        <input type="text" class="form-control" formControlName="status" />
      </div>
    </div>
  </form>

  <div class="model-footer text-end">
    <button class="btn btn-primary m-2" (click)="saveMilestone()">
      Submit
    </button>
    <button
      class="btn btn-secondary m-2"
      (click)="ResetDialog()"
      *ngIf="ResetVisible"
    >
      Reset
    </button>
    <button class="btn btn-danger m-2" (click)="closeProjectDialog()">
      Close
    </button>
  </div>
</p-dialog>


