
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4326f6cda5.js"></script>
	<title>CSS - Final Project</title>
	
	<!----------- HEADER start ----------->
	<header>
		<nav>
			<img src="https://mobirise.com/extensions/organicamp/assets/images/logo1.jpg" id="logo" alt="Main logo">
			<div>
				<ul id="top-menu">
					<li id="drop-menu" class="menu-item">
						<a href="#">Demo Pages<i class="fas fa-caret-down"></i></a>
						<ul id="dropdown-menu">
							<li><a href="#">Menu Item 1</a></li>
							<li><a href="#">Menu Item 1</a></li>
							<li><a href="#">Menu Item 1</a></li>
						</ul>
					</li>

					<li class="menu-item"><a href="#">Watch Video</a></li>
					<li class="menu-item"><a href="#">Blocks<i class="fas fa-caret-down"></i></a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>
		</nav>
		<div id="header-desc">
			<h1>Lorem ipsum dolor sit.</h1>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam sed iste adipisci doloremque assumenda dolore tempore laborum atque voluptas enim!</p>
		</div>
	</header>
	<!----------- HEADER end ----------->

	<!----------- MAIN section start ----------->	
	<main>

		<!----------- STEPS section start ----------->
	
		<!----------- COMMENTS section end ----------->

		<!----------- STORE section start ----------->
		<section id="store">
			<p class="italic-par">Lorem, ipsum.</p>
			<h2>Lorem, ipsum dolor.</h2>
			<p id="gray-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

			<div id="store-items">
				<article>
					<div>
						<i class="fa fa-camera"></i>
					</div>
					<h3>Lorem, ipsum.</h3>
					<p>Lorem ipsum dolor sit amet.</p>
				</article>
				<article>
					<div>
						<i class="fa-rocket fa"></i>
					</div>
					<h3>Lorem, ipsum.</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
				</article>
				<article>
					<div>
						<i class="fab fa-twitter"></i>
					</div>
					<h3>Lorem.</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</p>
				</article>
				<article>
					<div>
						<i class="fab fa-weixin"></i>
					</div>
					<h3>Lorem, ipsum.</h3>
					<p>Lorem, ipsum dolor.</p>
				</article>
			</div>

		</section>
		<!----------- STORE section end ----------->

		<!----------- COMMENTS section start ----------->
		<section id="comments">
			<p class="italic-par">Lorem, ipsum.</p>
			<h2>Lorem, ipsum dolor.</h2>
			<p id="gray-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ipsa eaque cumque hic beatae error impedit qui corrupti sunt doloribus!</p>

			<div id="comments-items">
				<article>
					<img src="https://mobirise.com/extensions/organicamp/assets/images/face5.jpg" alt="Veronica King">
					<p>Sales consultants are very polite. Many of the products have tried and are ready to prompt and recommend to customers. The staff shows that they completely share the philosophy of proper nutrition, if you can say so.</p>
					<h3>Veronica King</h3>
					<p>Cook</p>
				</article>
				<article>
					<img src="https://mobirise.com/extensions/organicamp/assets/images/face6.jpg" alt="Jim Cash">
					<p>The assortment is very wide. From useful organic oils, cereals and teas to specific products for vegetarians, such as sausages and pies without meat.</p>
					<h3>Jim Cash</h3>
					<p>Seller</p>
				</article>
				<article>
					<img src="https://mobirise.com/extensions/organicamp/assets/images/face7.jpg" alt="Peter Goodman">
					<p>I want to say a huge thank you to the management of the store and all its employees, I'm not a vegetarian, it would seem that the store is not for me, but it's not so, any person who comes here will find something useful.</p>
					<h3>Peter Goodman</h3>
					<p>Manager</p>
				</article>
			</div>

		</section>
		<!----------- COMMENTS section end ----------->

		<!----------- FOLLOW section start ----------->
		<section id="follow">
			<div id="left-bar">
				<img src="../../assets/images/3d-rendering-white-wood-living-room-near-bedroom-upstair.jpg" alt="Strawberries">
			</div>
			<div id="right-bar">
				<h2 class="rightbar">Inquire us</h2>
				<p class="rightbar">A wide range of products courteous staff.</p>
				<form>
					<div>
						<input type="email" name="email" placeholder="Your Email" id="email">
					</div>
					<div>
						<input type="submit" name="submit" value="Contact" id="submit-btn">
					</div>
				</form>
			</div>
		</section>
		<!----------- FOLLOW section end ----------->

		<!----------- Stats section start ----------->	
		<section id="rates">
			<div id="rates-wrap">
				<div class="rates-block">
					<h3>7</h3>
					<p>Year of experiences</p>
				</div>
				<div class="rates-block">
					<h3>123k</h3>
					<p>Happy Customers</p>
				</div>
				<div class="rates-block">
					<h3>72k</h3>
					<p>100% Satisfaction</p>
				</div>
				<div class="rates-block">
					<h3>13k</h3>
					<p>Detox Smoothies</p>
				</div>
			</div>
		</section>
		<!----------- STATS section end ----------->

		
		<!----------- VIDEO section end ----------->	

		<section id="contacts">
			<div id="contacts-wrap">
				<div class="left-block">
					<p class="italic-par">Contact Us</p>
					<h2>Address Information</h2>
					<h4>London Store</h4>
					<p class="contacts-break">
						Roeterseiland Campus Building E <br>
						6th floor London<br>
						Monday to Friday : 9am to 8pm<br>
						examplemail.mail.com
					</p>
					<h4>Berlin Store</h4>
					<p class="contacts-break">
						Roeterseiland Campus Building E<br>
						6th floor London<br>
						Monday to Friday : 9am to 8pm<br>
						examplemail.mail.com
					</p>
				</div>

				<div class="right-block">
					<p class="italic-par">Meet Our Team</p>
					<h2>Get In Touch</h2>
					<form>
						<div>
							<input class="input-item" type="text" name="name" placeholder="Name">
						</div>
						<div>
							<input class="input-item" type="tel" name="phone" placeholder="Phone">
						</div>
						<div>
							<input class="input-item" type="text" name="subject" placeholder="Subject">
						</div>
						<div>
							<input class="input-item" type="email" name="email" placeholder="Email">
						</div>
						<div>
							<textarea class="input-item" placeholder="Message"></textarea>
						</div>
						<div>
							<input id="btn-submit" type="submit" name="submit" value="Submit Now">
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
	<!----------- MAIN section end ----------->	

	<!----------- FOOTER start ----------->	
	<footer>
		<p>© Copyright 2025 Construction - All Rights Reserved</p>
	</footer>
	<!----------- FOOTER end ----------->	