<section>
  <div class="class">
    <h2>Document Management</h2>
  </div>
  <div class="class">
    <p>Manage your property documents</p>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="col-sm-3">
      <mat-card class="diff">
        <mat-card-content>
          <div>
            <p class="clildDiff">Total Documents</p>
            <h3 class="op-7 fw-bolder clildDiff">2</h3>
          </div>
          <div class="customIcon">
            <i class="fa-solid fa-file-invoice"></i> 
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="diff2">
        <mat-card-content>
          <div>
            <p class="clildDiff">Acknowledged</p>
            <h3 class="op-7 fw-bolder clildDiff">0</h3>
          </div>
             <div class="customIcon">
           <i class="fa-regular fa-circle-check"></i>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="diff3">
        <mat-card-content>
          <div>
            <p class="clildDiff">Pending</p>
            <h3 class="op-7 fw-bolder clildDiff">1</h3>
          </div>
             <div class="customIcon">
          <i class="fa-regular fa-clock"></i>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="diff3">
        <mat-card-content>
          <div>
            <p class="clildDiff">Filters</p>
            <h3 class="op-7 fw-bolder clildDiff">0</h3>
          </div>
             <div class="customIcon">
           <i class="fa-solid fa-triangle-exclamation"></i>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<section>
  <div class="class">
    <mat-card class="">
      <mat-card-content>
        <div>
          <h4 class=""><i class="fa-solid fa-filter"></i> Filters</h4>
        </div>
        <div class="row">
          <div class="col-sm-4 mb-4">
            <div class="class">
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                placeholder="Search Documents"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="class">
              <select name="" class="form-select form-control" id="">
                <option value="" selected disabled hidden>All Types</option>
                <option value="">Legal</option>
                <option value="">Structural</option>
                <option value="">Financial</option>
                <option value="">Marketing</option>
                <option value="">Sales Agreement</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="class">
              <select name="" class="form-select form-control" id="">
                <option value="" selected disabled hidden>
                  All Properties
                </option>
                <option value="">Skyline Residency</option>
                <option value="">Green Valley Appartments</option>
              </select>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<div class="class">
  <mat-tab-group>
    <mat-tab label="All (2)">
      <div class="row">
        <div class="col-sm-4">
          <mat-card class="">
            <mat-card-content>
              <div class="d-flex">
              <i class="fa-solid fa-file-invoice"></i> &nbsp;  <p class="fw-bolder">RERA Registration Certificate</p>
              </div>
                  <div class="d-flex">

                <p class="customBandage mr-3">Legal</p>
                <p class="customBandage">Pending</p>
                
              </div>
              <div class="class">
                <p><strong>File: </strong> rera-certificate.pdf</p>
              </div>
              <div class="class">
                <p><strong>Uploaded: </strong> 15/01/2024</p>
              </div>
              <div class="class">
                <p><strong>By: </strong> John Seller</p>
              </div>

              <div class="d-flex justify-content-between">
                <div class=" mb-3">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    View
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Download
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Edit
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-4">
          <mat-card class="">
            <mat-card-content>
              <div class="d-flex">
              <i class="fa-solid fa-file-invoice"></i> &nbsp; <p class="fw-bolder">Floor Plan - Tower A</p>
              </div>
                  <div class="d-flex">

                <p class="customBandage">Structural</p>
               
                
              </div>
              <div class="class">
                <p><strong>File: </strong> rera-certificate.pdf</p>
              </div>
              <div class="class">
                <p><strong>Uploaded: </strong> 15/01/2024</p>
              </div>
              <div class="class">
                <p><strong>By: </strong> John Seller</p>
              </div>

            
              <div class="d-flex justify-content-between">
                <div class=" mb-3">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    View
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Download
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Edit
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Legal (1)">
      <div class="row">
        <div class="col-sm-4">
          <mat-card class="">
            <mat-card-content>
              <div class="d-flex">
              <i class="fa-solid fa-file-invoice"></i> &nbsp;  <p class="fw-bolder">RERA Registration Certificate</p>
              </div>
                  <div class="d-flex">

                <p class="customBandage mr-3">Legal</p>
                <p class="customBandage">Pending</p>
                
              </div>
              <div class="class">
                <p><strong>File: </strong> rera-certificate.pdf</p>
              </div>
              <div class="class">
                <p><strong>Uploaded: </strong> 15/01/2024</p>
              </div>
              <div class="class">
                <p><strong>By: </strong> John Seller</p>
              </div>

              <div class="d-flex justify-content-between">
                <div class=" mb-3">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    View
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Download
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Edit
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Structural (1)">
      <div class="row">
        <div class="col-sm-4">
          <mat-card class="">
            <mat-card-content>
              <div class="d-flex">
              <i class="fa-solid fa-file-invoice"></i> &nbsp;  <p class="fw-bolder">RERA Registration Certificate</p>
              </div>
              <div class="d-flex">

                <p class="customBandage">Structural</p>
              
                
              </div>
              <div class="class">
                <p><strong>File: </strong> rera-certificate.pdf</p>
              </div>
              <div class="class">
                <p><strong>Uploaded: </strong> 15/01/2024</p>
              </div>
              <div class="class">
                <p><strong>By: </strong> John Seller</p>
              </div>

             
              <div class="d-flex justify-content-between">
                <div class=" mb-3">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    View
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Download
                  </a>
                </div>
                <div class="class">
                  <a class="btn btn-primary ml-1" tooltipPosition="top">
                    Edit
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Financial (0)"> </mat-tab>
    <mat-tab label="Marketing (0)"> </mat-tab>
    <mat-tab label="Sales (0)"> </mat-tab>
  </mat-tab-group>
</div>

<section></section>
